.b {
  display: flex;
  flex-direction: row;
}

.b-img {
  display: flex;
}

.b {
  display: flex;
}

img {
  border-radius: 80px;
  height: auto;
  max-width: 30%;
}

.e-1 {
  display: flex;
  flex-direction: row;
  gap:10px;
}
