*{
  font-family: sans-serif;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(even) {
    background-color: #fefefe;
}


table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

strong {
  color: #ff3a39;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  main {
    padding: 0 15px;
  }
  .b {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  main {
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.5;
  }
}
