*{
  font-family: sans-serif;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(even) {
    background-color: #fefefe;
}


table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  font-weight: bold;
}

hr {
  border: none;
  height: 2px;
  margin: 20px auto;
  background: linear-gradient(
    90deg,
    transparent 0,
    #ffeae9 15%,
    #ff3a39 50%,
    #ffeae9 85%,
    transparent 100%
  );
}

strong {
  color: #ff3a39;
}

h1 {
  text-decoration: underline;
  text-decoration-color: #ff3a39;
}

h2, h3 {
  text-decoration: underline;
  text-decoration-color: #ffeae9;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  main {
    padding: 0 15px;
  }
  .b {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  main {
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.5;
  }
}
button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff3333;
}
